@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Neucha&family=Playpen+Sans:wght@100..800&display=swap');

body
{
    font-family: Comfortaa;
}
textarea
{
    resize: none;
    width: 500px;
    height: 150px;
}

fieldset
{
    width: 474px;
}

.EULA
{
    width: 500px;
    height: 300px;
    border: solid 1px;
    overflow: scroll;
    text-align: justify;
}

div
{
    margin: 25px;
}